button {
    background-color: transparent;
    border: none;
    height: 100%;
    transition: .2s all linear;
}



.btn {
    background-color: var(--primary-text-color);
    color: #000000;
    cursor: pointer;
    height: 60px;
    font-weight: 300;
    font-size: 20px;
}
.btn:hover{
    background-color:var(--primary-elem-color);
}

.border {
    border-radius: 10px;
}
.btn__follow{
  
  margin: 0 auto;
  width: 100%;
}

button a,
.btn-link {

    color: var(--primary-elem-color);

    cursor: pointer;
    padding: 20px 0;

    position: relative;

    font-weight: 300;

    font-size: 20px;

    transition: .2s all linear;


}

.btn-link:before {
    content: '';
    bottom: 0;
    position: absolute;
    transition: .2s all linear;
    height: 1px;
    width: 0%;
    background-color: var(--primary-text-color);
}

.btn-link:hover:before {
    width: 100%;
}

button a:hover,
.btn-link:hover {
    color: #ffffff;
}