.posts__wrapper{
    height: calc(100vh - 205px);
    
    padding-bottom: 50px;
    scrollbar-width: none;
}
.posts__inner{
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.Not__found__post{
    color: var(--primary-elem-color);
    text-align: center;
    font-weight: 300;
    width: 100%;
}