.card__info {
    max-width: 100%;
    min-width: 0;
    margin-bottom: 5px;
    color: var(--primary-text-color);
    font-weight: 300;

}

.card__info a {
    color: var(--primary-text-color);
    font-weight: 700;

}

.card__info span {
    font-weight: 300;
    color: var(--secondary-text-color);;

}

.margin {
    margin-bottom: 10px;
}

.font-weight {
    font-weight: 300;
}

.markdown {
    white-space: pre-wrap;
    display: block;
}