.form__comments {
    color: var(--primary-text-color);
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
}

.textarea__comments {
    width: 70%;
    border-radius: 10px;
    border: none;
    padding: 18px;
    font-size: 18px;
    resize: none;
 height: 60px;
    
    color: var(--primary-text-color);
    font-weight: 300;
    transition: .3s all linear;
    background: var(--secondary-color);;
}

.textarea__comments:focus {
    outline: none;
    border: 1px solid var(--primary-focus-color);
}

.form__comments .btn {
    width: 30%;
}