@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-color: #131313;
  --secondary-color: #292929;
  --btn-card-color: #262626;
  --primary-text-color: #fff;
  --secondary-text-color: #a6a6a6;
  --primary-elem-color: #ffffffa2;
  --primary-focus-color: #ffffff56;

}

* {
  font-family: "Inter", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  overscroll-behavior: none;
  background: #0a0a0a;
 
}

@keyframes transition {
  from {
    opacity: .7;
  }

  to {
    opacity: 1;
  }

}

.textarea {
  border-radius: 10px;
  border: none;
  padding: 20px;
  font-size: 18px;
  resize: none;
  width: 100%;
  color: var(--primary-text-color);
  font-weight: 300;
  transition: .3s all linear;
  background: var(--secondary-color);
  height: 150px
}

.textarea:focus {
  outline: none;
  border: 1px solid var(--primary-focus-color);
}

.icon__wrapper {
  cursor: pointer;

}

.icon__wrapper:hover path {
  fill: var(--primary-text-color);
}

.icon path {
  transition: .2s all linear;

}

.icon path:hover {
  fill: var(--primary-text-color);
  ;

}

.word-noWrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;

}