
.modal__header{
    position: relative;
    display: flex;
    justify-content: center;

}
.modal__body{

}
.modal__footer{

}
.modal__close{
    right: 0;
    position: absolute;

}
.modal__footer{
    text-align: center;
}
.modal__footer .btn-link{
    padding-bottom: 0;
}
.modal__footer .btn-link:hover::before{
    display: none;

}